body{
	background: #fcfaee;
}
.parents{
	width:100%;
	background: #fcfaee;
	margin: 0 auto;
}
.header{
	width: 100%;
	height: 140px;
	padding-top: 30px;
	background: url(../img/header_bg.png) repeat-x left bottom;
}
#logo{
	width: 100%;
	height: 80px;
}
#logo a{
	display: block;
	width: 80px;
	height: 80px;
	background: url(../img/logo.png) no-repeat center center;
	margin: 0 auto;
}
.nav{
	width: 76%;
	padding: 0 12%;
	height: 40px;
	background: #b26646;
	white-space:nowrap;
}
.nav ul{
	width: 100%;
	height: 40px;
}
.nav ul li{
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 4%;
}
.nav ul li a{
	font-size: 15px;
	color: #FFFFFF;
}
.huazhou{
	width:100%;
	height: 180px;
	background: url(../img/huazhou.png) no-repeat center center;
	margin-top: -10px;
}
.img_inter{
	width:960px;
	margin: 20px auto 0;
}
.img_inter img{
	display: inline-block;
	width:260px;
	height: 230px;
	padding: 0 26px;
}
.img_inter .center_img{
	width: 160px;
	padding: 0 76px;
}
/*产品展示页面product*/
.product{
	width: 1180px;
	margin: 30px auto 0;
}
.product .product_header{
	width: 100%;
	margin-top: 10px;
	border-bottom: 2px solid #dbc3b9;
	margin-bottom: 10px;
}
.product h2{
	font-family: "宋体";
	width:30%;
	font-size: 16px;
	line-height: 36px;
	color:#a76a53;
	text-indent: 2em;
	background: #dbc3b9;
	border-radius: 10px 10px 0 0;
	white-space: nowrap;
	overflow: hidden;
}
.product h2 span{
	display: inline-block;
	font-size: 20px;
	margin-right:30px;
	color: #b26547;
}
.product ul{
	width:100%;
}
.product ul li{
	width: 210px;
	height:210px;
	display: inline-block;
	padding: 20px 40px;
	position: relative;
}
.product ul li:hover{
	cursor: pointer;
}
.product ul li img{
	display:block;
	width: 210px;
	height: 210px;
	position: absolute;
	left: 40px;
	top: 15px;
}
#jieshao1 { 
	width: 600px; 
	height: 500px; 
	border: 8px solid #DBC3B9; 
	margin: 50px auto 0; 
	position: relative; 
	}
#jieshao1 img {
	display: block;
	width: 100%;
	height: 100%;
	}
#jieshao1 a { 
	position: absolute; 
	width: 40px; 
	height: 80px; 
	line-height: 80px;
	background: #fff; 
	font-size: 40px; 
	text-decoration: none; 
	text-align: center; 
	font-weight: bold; 
	font-family: '黑体'; 
	 top: 210px; 
	 opacity: 0.8; 
	 color:#A76A53; 
	 line-height: 80px;
	}
#prev { 
	left:-80px; 
	}
#next { 
	right:-80px; 
	}

/*代理反馈feedback*/
.feedback{
	width: 1180px;
	margin: 20px auto 0;
}
.feedback .product_header{
	width: 100%;
	border-bottom: 2px solid #dbc3b9;
	margin-top: 20px;
	margin-bottom: 20px;
}
.feedback h2{
	font-family: "宋体";
	width:30%;
	font-size: 16px;
	line-height: 36px;
	color:#a76a53;
	text-indent: 2em;
	background: #dbc3b9;
	border-radius: 10px 10px 0 0;
	white-space: nowrap;
	overflow: hidden;
}
.feedback h2 span{
	display: inline-block;
	font-size: 20px;
	margin-right:30px;
	color: #b26547;
}
.feedback ul{
	width:100%;
}
.feedback ul li{
	width: 250px;
	height:400px;
	display: inline-block;
	padding: 10px 20px;
	position: relative;
}
.feedback ul li:hover{
	cursor: pointer;
}
.feedback ul li img{
	display:block;
	width: 250px;
	height: 400px;
}
/*end*/

/*品牌介绍*/
.introduction{
	width: 1180px;
	margin: 10px auto 20px;
	/*background: #fdfdfd;*/
}
#in_logo{
	display: block;
	width:200px;
	height: 200px;
	margin: 10px auto 0;
}
.introduction h3{
	width: 100%;
	line-height: 40px;
	font-size: 18px;
	color: #b26646;
	margin-bottom: 20px;
}
.introduction p{
	text-indent: 2em;
	line-height: 30px;
	font-size: 15px;
	color: #333;
}
.introduction .houyu{
	text-indent: 0;
	width: 100%;
	line-height: 40px;
	font-size: 16px;
	color: #b26646;
	text-align: center;
	margin:20px;
}
.introduction .tupian{
	width: 910px;
	height: 300px;
	margin: 10px auto;
}
.introduction .tupian img{
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 50px 50px;
}
/*养生常识*/
.knowledge{
	width:1180px;
	margin: 30px auto 0;
}
.konw_text{
	width:1180px;
	margin: 20px auto;
	font-size: 14px;
}
.konw_text h3{
	width:1180px;
	line-height: 36px;
	font-size: 16px;
	color:#B26646;
	border-bottom:2px solid #DBC3B9 ;
	text-indent: 1em;
	margin-bottom: 20px;
	white-space:nowrap;
}
.konw_text p{
	line-height: 30px;
	font-size: 14px;
	color: #333;
}
.konw_text img{
	display: block;
	width: 350px;
	height:280px;
	margin: 10px auto 20px;
}
/*在线咨询*/
.contactUs{
	width:1180px;
	margin: 20px auto 0;
}
.contactUs .contactUs_logo{
	display: block;
	width: 570px;
	height: 350px;
	margin: 0 auto;
}
.contactUs p{
	width:100%;
	line-height: 50px;
	text-align: center;
	font-size: 14px;
}
.contactUs p:hover{
	color: #B26547;
	cursor: pointer;
}
.contactUs p img{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 15px;
	margin-right: 20px;
}
/*授权查询*/
.author_find{
	width: 800px;
	height: 36px;
	margin: 20px auto 0;
	position: relative;
}
.author_find input{
	border: none;
	outline: none;
	background: none;
}
#author_text{
	display: inline-block;
	width: 300px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #B26547;
	font-size: 14px;
	color: #666564;
	position: absolute;
	right: 70px;
	top: 0;
}
#author_search{
	display: inline-block;
	width: 70px;
	height: 38px;
	line-height: 38px;
	color: #F9F9F9;
	background: #B26547;
	position: absolute;
	right: 0;
	top: 0;
}
.authorization{
	width: 800px;
	margin: 20px auto 0;
	background:#F9F9F9;
}
.authorization p{
	width:100%;
}
.authorization p span{
	display: inline-block;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: left;
	font-size: 14px;
	text-indent: 1em;
}
.authorization p strong{
	display: inline-block;
	width:240px;
	height: 40px;
	line-height: 40px;
	text-align: left;
	font-size: 14px;
	color: #B26646;
}
#shouquan_book{
	width: 100%;
}
#shouquan_book p{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #B26646;
	text-align: center;
}
#book_img{
	display: block;
	width: 200px;
	height: 300px;
	margin: 0 auto;
}
/*end*/
/*#book_big{
	width: 400px;
	height: 600px;
	position: fixed;
	left: 50%;
	right: 50%;
	margin: -100px 0 0 -200px;
	background: red;
}*/








